$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

//$grey-one-color: #535353;
$grey-one-color: #efefef;
$heading-text-color: #1b1b1b;
//$heading-text-color: #efefef;
$background-white-color: #ffffff;
$primary-color: #72AC93;
$normal-text-color: #666666;
$text-color: #343434;
$text-color-light: #343434;

$item-background-color:#f9f9f9;

//color scheme
$color-scheme-two:#98002f;

@mixin headingText() {

  font-family: 'Roboto Slab', 'serif';
  font-weight: 100;
}

h3 {
  font-weight: 100;
}

a {
  color: #aaaaaa;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 12px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}

.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 1024px;
    //        border:1px solid red;
  }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

.lead-container {
  //border:1px solid green;
  margin-top: 50px;
  text-align: center;
  margin-bottom: 50px;
  font-family: 'Roboto Slab', 'serif';
}

.search-input {
  //border:1px solid red;
  margin-bottom: 20px;
  font-family: 'Roboto Slab', 'serif';
  font-weight: 100;
  text-align: center;
  width: 100%;
}

.navbar-inverse {
  background-color: #101010;
  border-bottom: 1px solid darkgrey;
}

[class*="col-"] {
  padding-left: 0px;
  padding-right: 0px;
  //  padding-top: 15px;
  //  padding-bottom: 15px;
  //  background-color: #eee;
  //  background-color: rgba(86,61,124,.15);
  //  border: 1px solid #ddd;
  //  border: 1px solid rgba(86,61,124,.2);
}

.analytics-items-container {
  //  border:1px solid green;
  margin-bottom: 20px;

  .item-content {
    //border:1px solid yellow;
    background-color: $background-white-color;
    padding: 15px 15px 15px 20px;
    min-height: 107px;
  }
}

.item-title {
  //border:1px solid yellowgreen;
  @include headingText();
  font-size: 1.4em;
  padding: 10px;
  background-color: $grey-one-color;
  color: $text-color-light;
  padding: 8px 8px 8px 20px;
}

.analytics-item {
  //  border:1px solid red;
  width: 130px;
  float: left;
  text-align: center;

  .description {
    float: left;
    //    border:1px solid red;
    margin-top: 27px;
    margin-right: 5px;
    @include headingText();
    color: #343434;
  }

  .number-container {
    //border:1px solid red;
    float: left;
    margin: auto;
    border: 5px solid #efefef;
    display: table;
    border-radius: 50%;
    background-color: $background-white-color;
    height: 75px;
    width: 75px;

    .number {
      @include headingText();
      color: #343434;
      text-align: center;
      margin: auto;
      display: table-cell;
      vertical-align: middle;
      font-size: 1.4em;
    }
  }
}

.article-keywords {
  .item-content {
    //border:1px solid yellow;
    background-color: $background-white-color;
    padding: 15px 15px 15px 20px;
    color: $normal-text-color;
  }
}

.news-provider-image-container {
  //border:1px solid red;
  background-color: $background-white-color;
  display: table;

  .news-provider-image {
    //border:1px solid blue;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    text-align: center;
  }
}

.article-item {
  // border:1px solid red;
  background-color: $item-background-color;
  padding: 15px;
  margin-bottom: 15px;

  .article-title-container {
    background-color: #72ac93;
    color: #efefef;
    padding: 10px 10px 10px 18px;
    //    padding: 10px;
    margin-bottom: 14px;

    .article-title {
      @include headingText();
      margin-top: 0px;
      margin-bottom: 0px;
      font-size: 2em;
    }
  }

  .url-container {
    margin-bottom: 20px;
    min-height: 35px;

    .url-container-row {
      padding-left: 0px;
      padding-right: 0px;

      .source {
        @include headingText();
        padding: 8px 8px 8px 20px;
        background-color: $grey-one-color;
        color: $text-color-light;
        font-size: 1.4em;
      }

      .url {
        //      border:1px solid red;
        padding: 12px;
        background-color: $background-white-color;
        color: #aaaaaa;
      }
    }
  }
}

.row {
  margin-left: 0px;
  margin-right: 0px;
}

.hostname {
  padding: 10px;
  font-size: 1.5em;
  @include headingText();
}

.article-item-description {
  //  border:1px solid red;
}

@media (min-width: 768px) {
  .form-control {
    //    border:1px solid red;
    margin-top: 9px;
    width: 450px !important;
    border-radius: 0px;
  }
}

.lead-container {
  background-color: $item-background-color;
//  border: 1px solid red;
  text-align: left;
  padding: 15px;
  margin-top: 60px;
  margin-bottom: 0px;

  font-family: 'Roboto Slab', 'serif';

  h2 {
//    border: 1px solid blue;
    background-color: #ffffff;
    padding: 5px;
    font-weight: 100;
    font-size: 1.5em;
    margin: 0px;
    padding: 10px;
  }

  p{
    color: #efefef;
    font-weight: 100;
    font-size:1.4em;
    color: #666666;
    padding: 20px 25px 0px 11px;
  }

  .description {
//    border: 1px solid red;
    padding:0px 15px 15px 15px;
  }

  .analytics-data {

//    border: 1px solid blue;
    padding:22px 15px 15px 15px;

    .item{
      min-width: 136px;
//      border:1px solid red;
      float:left;
      background-color: #efefef;
//      background-color: $color-scheme-two;
      color: #343434;
      padding: 8px 8px 8px 20px;
      font-family: 'Roboto Slab', 'serif';
      font-weight: 100;
      font-size: 1.4em;
    }

    .value{
//      border:1px solid blue;
      float:left;
      font-family: 'Roboto Slab', 'serif';
      font-weight: 100;
      font-size: 1.4em;
      background-color: #ffffff;
      padding: 8px;
      min-height: 40px;
    }

    .spacer{
      clear:both;
      height: 10px;
    }
  }

}