$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";


//$grey-one-color: #535353;
$grey-one-color: #efefef;
$heading-text-color: #1b1b1b;
//$heading-text-color: #efefef;
$background-white-color: #ffffff;
$primary-color:#72AC93;
$normal-text-color:#666666;
$text-color:#343434;
$text-color-light:#343434;


@mixin headingText(){

  font-family: 'Roboto Slab', 'serif';
  font-weight:100;
}

h3{
  font-weight: 100;
}

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';

// bower:scss
@import "../bower_components/bootstrap-sass-official/vendor/assets/stylesheets/bootstrap.scss";
// endbower

a{
  color: #aaaaaa;
}

.browsehappy {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* Space out content a bit */
body {
    padding-top: 20px;
    padding-bottom: 20px;
    font-size:12px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
    padding-left: 15px;
    padding-right: 15px;
}

/* Custom page header */
.header {
    border-bottom: 1px solid #e5e5e5;
}

/* Make the masthead heading the same height as the navigation */
.header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px;
}

/* Custom page footer */
.footer {
    padding-top: 19px;
    color: #777;
    border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
    margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
    text-align: center;
    border-bottom: 1px solid #e5e5e5;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
    margin: 40px 0;
}

.marketing p + h4 {
    margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .container {
        max-width: 1024px;
//        border:1px solid red;
    }

    /* Remove the padding we set earlier */
    .header,
    .marketing,
    .footer {
        padding-left: 0;
        padding-right: 0;
    }
    /* Space out the masthead */
    .header {
        margin-bottom: 30px;
    }
    /* Remove the bottom border on the jumbotron for visual effect */
    .jumbotron {
        border-bottom: 0;
    }
}

.lead-container{
//  border:1px solid green;
  margin-top: 80px;
  text-align: center;
  margin-bottom:50px;
  font-family: 'Roboto Slab', 'serif';

}

.search-input{
  margin-bottom: 20px;
//  border:1px solid red;
  font-family: 'Roboto Slab', 'serif';
  font-weight:100;
  text-align:center;
  width:100%;
}

.navbar-inverse{
  background-color: #101010;
  border-bottom: 1px solid darkgrey;
}

//[class*="col-"] {
//  padding-top: 15px;
//  padding-bottom: 15px;
//  background-color: #eee;
//  background-color: rgba(86,61,124,.15);
//  border: 1px solid #ddd;
//  border: 1px solid rgba(86,61,124,.2);
//}

.analytics-items-container{
//  border:1px solid green;
//  height:150px;
  margin-bottom: 20px;
//  background-color: $background-white-color;

  .item-content{
//    border:1px solid yellow;
    background-color: $background-white-color;
    padding: 15px 15px 15px 20px;
    min-height:107px;
  }
}

.item-title{
//  border:1px solid yellowgreen;
  padding: 10px;
  background-color: $grey-one-color;
  color:$text-color-light;
  padding:8px 8px 8px 20px;
  @include headingText();
  font-size:1.4em;
}

.analytics-item{
//  border:1px solid red;
  width:130px;
  float:left;
  text-align: center;


  .description{
    float:left;
//    border:1px solid red;
    margin-top:27px;
    margin-right:5px;
    @include headingText();
    color: #343434;
  }

  .number-container{
    float:left;
//    border:1px solid red;
    margin: auto;
    border:5px solid #efefef;
    display: table;
    border-radius: 50%;
    background-color: $background-white-color;
    height:75px;
    width:75px;

    .number{
      @include headingText();
      color:#343434;
      text-align: center;
      margin: auto;
      display: table-cell;
      vertical-align: middle;
      font-size:1.4em;

    }
  }
}

.article-keywords{
  .item-content{
//    border:1px solid yellow;
    background-color: $background-white-color;
    padding: 15px 15px 15px 20px;
    color:$normal-text-color;
  }
}

.news-provider-image-container{

//  text-align: center;
//  padding:20px;
//  border:1px solid red;
//  height:69px;
  background-color: $background-white-color;
  display: table;
//  height:100px;

  .news-provider-image{
//    border:1px solid blue;
    vertical-align: middle;
    display: table-cell;
    margin: auto;
    text-align: center;
  }

}

.article-item{
//  border:1px solid red;
  background-color: #f9f9f9;
  padding:15px;
  margin-bottom: 15px;

  .article-title-container{

//    border:1px solid blue;
    background-color: #72ac93;
    color: #efefef;
    padding: 20px;
    margin-bottom:14px;
//    border-bottom-left-radius: 15px;

    .article-title{
      margin-top: 0px;
      margin-bottom: 0px;
      @include headingText();
      font-size: 2em;
    }
  }

  .url-container{

    margin-bottom: 20px;
    min-height: 35px;

    .url-container-row {

      padding-left: 0px;
      padding-right: 0px;

      .source {
        //      border:1px solid red;
        padding: 8px 8px 8px 20px;
        background-color: $grey-one-color;
        @include headingText();
        color: $text-color-light;
        font-size: 1.4em;
      }

      .url {
        //      border:1px solid red;
        padding: 12px;
        background-color: $background-white-color;
        color: #aaaaaa;
      }
    }
  }
}

.row{
  margin-left:0px;
  margin-right:0px;
}
.hostname{
  padding: 10px;
  font-size: 1.5em;
  @include headingText();
}
